body, html
  margin: 0
  background-color: #232835
  font-family: "Inter", sans-serif
  font-weight: 700

::-webkit-scrollbar
  width: 10px

::-webkit-scrollbar-thumb
  background: #1d222e
  border-radius: 10px

::-webkit-scrollbar-thumb:hover
  background: #1e212a

.speedtest-icon
  font-size: 26pt
  color: #F1F1F1
  margin-right: 10px

.container-icon
  color: #F1F1F1
  font-size: 26pt

.icon-red
  color: #C64545

.icon-green
  color: #45C65A

.icon-orange
  color: #E58A00

.icon-blue
  color: #456AC6

main
  display: flex
  flex-direction: column
  align-items: center

hr
  margin: 2rem
  width: 3rem
  border: 1px solid #727676
  border-radius: 25px