@import "@/common/styles/colors"

.error-page
  width: 100vw
  height: 100vh
  position: absolute
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  color: $white

.error-page svg
  color: $red

.error-page h2
  margin: 0

.error-page span
  color: $green