@import "colors"

body, html
  margin: 0
  background-color: $background
  color: $text
  font-family: "Inter", sans-serif
  font-weight: 700

::-webkit-scrollbar
  width: 13px

::-webkit-scrollbar-thumb
  filter: brightness(0.7)
  border-radius: 10px

::-webkit-scrollbar-thumb:hover
  filter: brightness(0.8)